@font-face {
  font-family: 'gameXucXac';
  src: url(./assets/font/Pony.ttf);
}

.game-container {
  background-image: url(./assets/images/bgGame.png);
  height: 100vh;
  font-family: 'gameXucXac';
}

.btnTaiXiu {
  width: 200px;
  height: 200px;
  font-size: 45px;
  color: white;
  background-color: rgb(14, 135, 206);
  border: none;
  border-radius: 10px;
}

.btnTaiXiuSelected {
  box-shadow: 1px 2px 16px 9px #27f0ff;
}
